# Forzar compatibilidad con Python 3.12 y SeleniumBase moderno
PyVirtualDisplay>=3.0
seleniumbase>=4.33.0
ipdb>=0.13.13

# Librerías base (SIN versiones fijas, deja que pip decida la más nueva)
streamlit
extra_streamlit_components
pandas
pytelegrambotapi
python-telegram-bot
lxml
requests
pydantic
rapidfuzz
dateparser